[submodule "dsfr-chart"]
	path = dsfr-chart
	# Until the PR is merged by the original repository (https://github.com/GouvernementFR/dsfr-chart)
	# we use our fork
	url = https://github.com/Maxenceee/dsfr-chart.git
	branch = chart-refacto
